body {
    color: #efdab9;
    background-color: #393e44;
    width: 100%;
    padding: 1.25em;
    font-family: 'Lato', sans-serif;
}

header {
    margin: 25px;
}

h1.introduction {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 1.25em;
}

p.introduction {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #78b0a0;
    max-width: 650px;
    line-height: 1.75;
    width: 1000px;
    margin: 0 auto;
}

img.logo {
    max-width: 200px;
    float: left;
}

div.nav {
    margin-bottom: 125px;
    margin-right: 75px;
}
nav ol li {
    color: #efdab9;
    list-style-type: none;
    display: inline;
    padding: 10px;;
    font-size: 28px;
}

nav ol {
    text-align: right;
}

nav {
    margin-top: 45px;
} /* I want the list to be lined up exactly with the mountain */

a:link {
    color: #ffc31f;
}

a:visited {
    color: #78b0a0;
}

a:active {
    color: #ffc31f;
}

article {
    justify-content: center; /* why isn't this working for me */
    margin: 0 auto;
    text-align: center;
}

p.content {
    text-align: left;
    max-width: 750px;
    padding: 1.25em;
    margin-top: 45px;
    line-height: 1.75;
}

p.cap {
    color: #fff;
    font-size: 12px;
}

h2 {
    padding: 1.25em;
    font-size: 32px;
    color: #ffc31f;
}

section {
	margin: 1.875em 0;
}

main {
    display: flex;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

img.illustration {
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#city select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #efdab9;
}

.form {
    margin: 25px;
    align-content: center;
    text-align: center;
    padding: 50px 50px;
}

select {
    background-color: #fff;
}

.form p {
    color: #78b0a0;
    font-size: 32px;
}

.form option {
    font-size: 20px;
}

.grad {
    background-image: linear-gradient(-45deg, #ffc31f, #efdab9);
    display: flex;
    flex-direction: column;
    align-content: center;
}

footer {
    bottom: 0;
    width: 100%;
}

footer p {
    display: block;
    color: #393e44;
    padding: 30px;
}

p.readmore {
    font-size: 36px;
    text-align: center;   
}

.readmore a {
    color: #393e44;
}

p.copyright {
    font-size: 16px;
    align-content: center;
    text-align: center;
}




/* Main questions:
- How to center my little survey question
- How to make the gradient fill the screen */